<!DOCTYPE html>
<html lang="pl">
<head>
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type"/>
    <title>Biletomat</title>
    <!-- Compiled and minified CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script>if (typeof module === 'object') {
        window.module = module;
        module = undefined;
    }</script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/pl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <style>

        #logo-row {
            margin-bottom: 0px;
        }

        .btn-large {
            width: 100%;
            height: 70px;
            color: black;
            font-size: 25px;
        }

        #steps, #table-payment {
            padding-right: 30px;

        }

        #table-payment .card {
            margin: 0 0 0;
        }

        #steps {
            padding-top: 30px;
            font-size: 30px;
        }

        img {
            width: 80%;
        }

        .card-content {
            text-align: center;
        }


        #button-pay {
            width: 100%;
        }


        tbody th {
            font-weight: normal;
        }

        .button-back {
            margin-top: 40px;
            margin-left: 10px;
            width: 80px !important;
            height: 80px !important;
        }


        .blue {
            color: white;
        }

        .months button {
            width: 201px;
            height: 50px;
            margin-left: 2px;
            margin-right: 2px;
            font-size: 17px;
        }

        .row-2, .row-3, .row-date, .row-month {
            display: none;
        }
    </style>

</head>
<body class="teal lighten-4">
<div class="row" id="logo-row">
    <div class="col s2">
        <img src="../imageedit_4_7935784377.png">
    </div>
    <div class="col s1 offset-s7">
        <button class="btn-floating btn-large waves-effect waves-light blue button-back z-depth-3"><i
                class="material-icons">keyboard_backspace</i></button>
    </div>
    <div class="col s2" id="steps">
        <div class="card z-depth-5">
            <div class="card-content">
                <p>Krok <b>2/4</b></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="row row-1">
        <div class="col s4 offset-s2">
            <button class="btn-large grey lighten-5  waves-effect waves-light z-depth-5" id="btn-przedluz">
                PRZEDLUŻ BILET
            </button>
        </div>
        <div class="col s4">
            <button class="btn-large grey lighten-5 waves-effect waves-light z-depth-5" id="btn-nowy">
                NOWY BILET
            </button>
        </div>
    </div>
    <div class="row row-2">
        <div class="col s4 offset-s2">
            <button class="btn-large grey lighten-5  waves-effect waves-light z-depth-5" id="btn-semestralny">
                BILETY SEMESTRALNE
            </button>
        </div>
        <div class="col s4">
            <button class="btn-large grey lighten-5 waves-effect waves-light z-depth-5" id="btn-miesieczny30dniowy"
                    style="font-size: 20px">
                BILETY MIESIECZNE/30 DNIOWE
            </button>
        </div>
    </div>
    <div class="row row-3">
        <div class="col s4 offset-s2">
            <button class="btn-large grey lighten-5  waves-effect waves-light z-depth-5" id="btn-miesieczny">
                BILET MIESIECZNY
            </button>
        </div>
        <div class="col s4">
            <button class="btn-large grey lighten-5 waves-effect waves-light z-depth-5" id="btn-30dniowy">
                BILET 30 DNIOWY
            </button>
        </div>
    </div>

    <div class="row row-date">
        <div class="col s2 offset-s5" style="margin-top: 10px">
            <div class="card" id="wybierz-date">
                <div class="card-content">
                    <span class="card-title">Wybierz Datę</span>
                    <input class="datepicker" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="row row-month">
        <div class="months">
            <div class="col s8 offset-s2">
                <button class="btn light-green darken-1 waves-effect waves-light z-depth-2" id="Grudzień">
                    Grudzień 2018
                </button>
                <button class="btn light-green darken-1 waves-effect waves-light z-depth-2" id="Styczeń">
                    Styczeń 2019
                </button>
                <button class="btn light-green darken-1 waves-effect waves-light z-depth-2" id="Luty">
                    Luty 2019
                </button>
                <button class="btn light-green darken-1 waves-effect waves-light z-depth-2" id="Marzec">
                    Marzec 2019
                </button>

            </div>
            <div class="col s8 offset-s2" style="margin-top: 10px">
                <button class="btn light-green darken-1 waves-effect waves-light z-depth-2" id="Kwiecien">
                    Kwiecien 2019
                </button>
                <button class="btn light-green darken-1 waves-effect waves-light z-depth-2" id="Maj">
                    Maj 2019
                </button>
                <button class="btn light-green darken-1 waves-effect waves-light z-depth-2" id="Czerwiec">
                    Czerwiec 2019
                </button>
                <button class="btn light-green darken-1 waves-effect waves-light z-depth-2" id="Lipiec">
                    Lipiec 2019
                </button>
            </div>
            <div class="col s8 offset-s2" style="margin-top: 10px">
                <button class="btn light-green darken-1 waves-effect waves-light z-depth-2" id="Sierpień">
                    Sierpień 2019
                </button>
                <button class="btn light-green darken-1 waves-effect waves-light z-depth-2" id="Wrzesień">
                    Wrzesień 2019
                </button>
                <button class="btn light-green darken-1 waves-effect waves-light z-depth-2" id="Październik">
                    Październik 2019
                </button>
                <button class="btn light-green darken-1 waves-effect waves-light z-depth-2" id="Listopad">
                    Listopad 2019
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s2 offset-s5">
            <button class="btn-large blue darken-2 waves-effect waves-light z-depth-2 white-text disabled"
                    id="btn-dalej">
                DALEJ
            </button>
        </div>
    </div>
</div>
</body>
</html>
<script>

    var chosenOption = null;

    myi18n = {
        monthsShort: [
            'sty',
            'lut',
            'mar',
            'kwie',
            'maj',
            'czer',
            'lip',
            'sier',
            'wrz',
            'paź',
            'lis',
            'gru'
        ],
        weekdaysShort: [
            'Niedz',
            'Pon',
            'Wt',
            'Śr',
            'Czw',
            'Pią',
            'Sob'
        ],
        weekdaysAbbrev: ['N', 'P', 'W', 'S', 'C', 'P', 'S'],
        months: [
            'Styczeń',
            'Luty',
            'Marzec',
            'Kiwecień',
            'Maj',
            'Czerwiec',
            'Lipiec',
            'Sierpień',
            'Wrzesień',
            'Październik',
            'Listopad',
            'Grudzień'
        ]
    };

    options = {i18n: myi18n};

    $(function () {

        $('.datepicker').val(moment().format('MMM DD, YYYY'));
        $('.datepicker').datepicker(options);

        $(".button-back").click(function () {
            var ipcRenderer = require('electron').ipcRenderer;
            ipcRenderer.send('back:mainWindow');
        });


        $('#btn-przedluz').click(function () {
            setSelectedColour($(this));
            diableDalejButton();
            hideAllRows();
            activeDalejButton(
                {
                    'option': 'przedluż',
                    'month': 'Grudzień',
                    'date': null
                }
            )

        });

        $('#btn-nowy').click(function () {
            setSelectedColour($(this));
            diableDalejButton();
            hideAllRows();
            $(".row-2").show();
        });


        $('#btn-semestralny').click(function () {
            setSelectedColour($(this));
            diableDalejButton();
            hideAllRows();
            $(".row-2").show();
            activeDalejButton(
                {
                    'option': 'semestralny',
                    'month': null,
                    'date': null
                }
            );
        });

        $('#btn-miesieczny30dniowy').click(function () {
            setSelectedColour($(this));
            hideAllRows();
            diableDalejButton();
            $(".row-2").show();
            $(".row-3").show();
        });

        $('#btn-miesieczny').click(function () {
            setSelectedColour($(this));
            hideAllRows();
            diableDalejButton();
            $(".row-2").show();
            $(".row-3").show();
            $('.row-month').show();
        });

        $('#btn-30dniowy').click(function () {
            setSelectedColour($(this));
            hideAllRows();
            diableDalejButton();
            $(".row-2").show();
            $(".row-3").show();
            $('.row-date').show();
            activeDalejButton({
                'option': '30dniowy',
                'month': null,
                'date': $('input').val(),
            });

            $('input').change(function () {
                window.chosenOption = {
                    'option': '30dniowy',
                    'month': null,
                    'date': $(this).val(),
                };

            })
        });

        $('.months button').click(function () {
            selectMonth(this);
        })

    });

    function selectMonth($element) {
        $('.months button').removeClass('blue darken-2').addClass('light-green darken-1');
        $($element).removeClass('light-green darken-1').addClass('blue darken-2');
        activeDalejButton({
            'option': 'miesieczny',
            'month': $($element).attr('id'),
            'date': null
        });
    }

    function hideAllRows() {
        $(".row-2").hide();
        $(".row-3").hide();
        $('.row-month').hide();
        $('.row-date').hide();
        $('.datepicker').val(moment().format('MMM DD, YYYY'));
    }

    function activeDalejButton(options) {
        $('#btn-dalej').removeClass('disabled');
        window.chosenOption = options;
    }

    function diableDalejButton() {
        $('#btn-dalej').addClass('disabled');
    }

    function setSelectedColour($element) {
        var elementId = $element.attr('id');
        if (elementId == $('#btn-przedluz').attr('id') || elementId == $('#btn-nowy').attr('id')) {
            $('#btn-przedluz, #btn-nowy').removeClass('blue darken-2').addClass('grey lighten-5');
            $('#btn-semestralny, #btn-miesieczny30dniowy, #btn-30dniowy, #btn-miesieczny').removeClass('blue darken-2').addClass('grey lighten-5');
        } else if (elementId == $('#btn-semestralny').attr('id') || elementId == $('#btn-miesieczny30dniowy').attr('id')) {
            $('#btn-semestralny, #btn-miesieczny30dniowy').removeClass('blue darken-2').addClass('grey lighten-5');
            $('#btn-30dniowy, #btn-miesieczny').removeClass('blue darken-2').addClass('grey lighten-5');
        } else if (elementId == $('#btn-miesieczny').attr('id') || elementId == $('#btn-30dniowy').attr('id')) {
            $('#btn-miesieczny, #btn-30dniowy').removeClass('blue darken-2').addClass('grey lighten-5');
        }

        $element.removeClass('grey lighten-5').addClass('blue darken-2');
    }

</script>
